[submodule "packages/gateway"]
	path = packages/gateway
	url = https://github.com/Sunrinlifeteam/backend-gateway
[submodule "packages/hello"]
	path = packages/hello
	url = https://github.com/Sunrinlifeteam/backend-module-hello
[submodule "packages/user"]
	path = packages/user
	url = https://github.com/Sunrinlifeteam/backend-module-user
