[submodule "packages/gateway"]
	path = packages/gateway
	url = https://github.com/Sunrinlifeteam/backend-gateway
[submodule "packages/hello"]
	path = packages/hello
	url = https://github.com/Sunrinlifeteam/backend-module-hello
[submodule "packages/user"]
	path = packages/user
	url = https://github.com/Sunrinlifeteam/backend-module-user
[submodule "packages/upload"]
	path = packages/upload
	url = https://github.com/Sunrinlifeteam/backend-module-upload
[submodule "packages/neis"]
	path = packages/neis
	url = https://github.com/Sunrinlifeteam/backend-module-neis
[submodule "packages/redis"]
	path = packages/redis
	url = https://github.com/Sunrinlifeteam/backend-module-redis
[submodule "packages/auth"]
	path = packages/auth
	url = https://github.com/Sunrinlifeteam/backend-module-auth
